<div class="container" style="background-color: rgb(255, 255, 255);  padding: 10px;">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div>
            <a class="navbar-brand" routerLink="#">صيدلية حجازي</a>
        </div>
        <div class="collapse navbar-collapse ">
            <div class="ms-auto">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="store">المتجر</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="products">المنتجات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="details">الطلبات</a>
                    </li>
                    <li style="float: right;" class=" nav-item">
                        <a class="nav-link" routerLink="/">الرئيسية</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>