<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<div class="container w-50" style="place-items: center; display: grid;" dir="rtl">
    <!-- <button type="button" class="close" aria-label="Close" style="margin-left: auto;" (click)="close()">
        <span aria-hidden="true"><i class="fas fa-times"></i></span>
    </button> -->
    <table class="table ">
        <tr>
            <td>اجمالي المبلغ</td>
            <!-- <td><input type="text" placeholder="fvdfk" disabled /></td> -->
            <td><label for=""></label></td>
        </tr>
        <tr>
            <td>وقت الطلب</td>
            <td><input type="text" placeholder="fvdfk" disabled /></td>
        </tr>
        <tr>
            <td>حاله الطلب</td>
            <td><input type="text" placeholder="fvdfk" disabled /></td>
        </tr>
        <tr>
            <td>عامل التوصيل</td>
            <td><input type="text" placeholder="fvdfk" disabled /></td>
        </tr>
    </table><br><br>
    <table class="table table-hover table-striped" style="text-align: right;">
        <thead>
            <tr>
                <th>اسم المنتج</th>
                <th>الكمية</th>
                <th>السعر</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td>product1</td>
                <td>5</td>
                <td>50</td>
            </tr>
        </tbody>
    </table>
</div>