<div style="direction: rtl;">
    <div class="site-blocks-cover inner-page" style="background-image: url('assets/Images/hero_1.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto align-self-center">
                    <div class=" text-center">
                        <h1>من نحن</h1>
                        <h2>خدمة المرضى هي المحصلة النهائية لمهنة الصيدلة.
                            إن رعاية المرضى ومساعدتهم على تحقيق نتائج أفضل
                            وتحسين صحتهم وعافيتهم هو السبب الأساسي لوجودنا.
                            كما اننا نؤمن بأن لدينا مسؤولية اجتماعية لتثقيف المرضى
                            وتمكينهم من الاهتمام بأنفسهم بشكل أفضل.
                            من خلال تقديم مشورة الخبراء ، نقوم بتثقيف عملائنا
                            حول العديد من الجوانب الأساسية لحياة صحية.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6">
                    <div class="block-16">
                        <figure>
                            <img src="assets/Images/bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                            <a href="https://vimeo.com/channels/staffpicks/93951774"><i class="fa fa-play"
                                    style="font-size:36px;"></i><span class="icon-play"></span></a>

                        </figure>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">


                    <div class="site-section-heading pt-3 mb-4">
                        <!-- <h2 class="text-black">كيف بدأنا</h2> -->
                    </div>
                    <h2>خدمة المرضى هي المحصلة النهائية لمهنة الصيدلة.
                        إن رعاية المرضى ومساعدتهم على تحقيق نتائج أفضل
                        وتحسين صحتهم وعافيتهم هو السبب الأساسي لوجودنا.
                        كما اننا نؤمن بأن لدينا مسؤولية اجتماعية لتثقيف المرضى
                        وتمكينهم من الاهتمام بأنفسهم بشكل أفضل.
                        من خلال تقديم مشورة الخبراء ، نقوم بتثقيف عملائنا
                        حول العديد من الجوانب الأساسية لحياة صحية.</h2>

                </div>
            </div>
        </div>
    </div>
    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6 order-md-2">
                    <div class="block-16">
                        <figure>
                            <img src="assets/Images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                            <a href="https://vimeo.com/channels/staffpicks/93951774"><i class="fa fa-play"
                                    style="font-size:36px;"></i><span class="icon-play"></span></a>

                        </figure>
                    </div>
                </div>

                <div class="col-md-5 mr-auto bg-light">


                    <div class="site-section-heading pt-3 mb-4">
                        <h2 class="text-black">We Are Trusted Company</h2>
                    </div>
                    <p class="text-black">خدمة المرضى هي المحصلة النهائية لمهنة الصيدلة.
                        إن رعاية المرضى ومساعدتهم على تحقيق نتائج أفضل
                        وتحسين صحتهم وعافيتهم هو السبب الأساسي لوجودنا.
                        كما اننا نؤمن بأن لدينا مسؤولية اجتماعية لتثقيف المرضى
                        وتمكينهم من الاهتمام بأنفسهم بشكل أفضل.
                        من خلال تقديم مشورة الخبراء ، نقوم بتثقيف عملائنا
                        حول العديد من الجوانب الأساسية لحياة صحية.</p>
                    <p class="text-black">Accusantium dolor ratione maiores est deleniti nihil? Dignissimos est, sunt
                        nulla illum autem in, quibusdam
                        cumque recusandae, laudantium minima repellendus.</p>

                </div>
            </div>
        </div>
    </div>
</div>