<!-- <div class="container">
    <div class="form-group col-sm-3">
        <label>اسم المنتج</label>
        <input #title type="text" class="form-control" placeholder="اكتب اسم المنتج">
    </div>
    <br>
    <div class="form-group col-sm-3">
        <label for="exampleInputPassword1">سعر المنتج</label>
        <input #price type="number" class="form-control" placeholder="اكتب السعر">
    </div>
    <br>
    <div class="form-group col-sm-3">
        <label for="exampleInputPassword1">سعر المنتج</label>
        <input #quantity type="number" class="form-control" placeholder="اكتب السعر">
    </div>
    <br>
    <div class="form-group">
        <label>وصف المنتج</label>
        <input #description type="text" class="form-control" placeholder="اكتب الوصف">
    </div>
    <br>
    <button (click)="Add(title.value,price.value,description.value,quantity.value)"
        class="btn btn-success">اضافة</button>
</div> -->

<div class="container">
    <form formGroup="">
        <!-- <div class="container"> -->
        <div class="form-group col-sm-3">
            <label>اسم المنتج</label>
            <input type="text" class="form-control" placeholder="اكتب اسم المنتج">
        </div>
        <br>
        <div class="form-group col-sm-3">
            <label for="exampleInputPassword1">سعر المنتج</label>
            <input type="number" class="form-control" placeholder="اكتب السعر">
        </div>
        <br>
        <div class="form-group col-sm-3">
            <label for="exampleInputPassword1">كمية المنتج</label>
            <input type="number" class="form-control" placeholder="اكتب السعر">
        </div>
        <br>
        <div class="form-group">
            <label>وصف المنتج</label>
            <input type="text" class="form-control" placeholder="اكتب الوصف">
        </div>
        <br>
        <!-- <button (click)="Add()" class="btn btn-success">اضافة</button> -->
        <input type="submit" (click)="Add()" class="btn btn-success" value="اضافة">
        <!-- </div> -->

    </form>

</div>


<!-- <div class="container">
    <div style="padding: 15px;" class="text tajawal-medium">
        اضافة منتج جديد
    </div>
    <form>
        <div class="form-row">
            <div class="input-data">
                <input class="form-control" #name type="text" required>
                <label for="">اسم المنتج</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
                <input class="form-control" #quantity type="number" required>
                <label for="">الكمية</label>
            </div>
            <div class="input-data">
                <input class="form-control" #price type="number" required>
                <label for="">سعر المنتج</label>
            </div>
        </div>

        <div class="form-row">
            <div class="input-data textarea">
                <textarea #description rows="8" cols="80" required></textarea>
                <label for="">تفاصيل المنتج</label>
            </div>
        </div>

        <label for="">صورة المنتج</label>
        <div class="form-row">
            <br>
            <input (change)="imageSelected($event)" class="form-control" type="file">
            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
        </div>



        <div class="form-row submit-btn">
            <div class="input-data">
                <div class="inner"></div>
                <input (click)="Add(name.value,price.value,description.value,quantity.value)" type="submit"
                    value="اضافة">
            </div>
        </div>
    </form>
</div>

<!-- <div class="p-4">
    <header class="d-flex justify-content-between align-items-center" >
        <h1 class="m-0">Add New Task</h1>
        <button mat-flat-button matDialogClose class="text-danger">
          <mat-icon>close</mat-icon>
        </button>
      </header>
    <form >
        <div class="row mt-3">
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Title</mat-label>
                        <input matInput   placeholder="title">
                    </mat-form-field>
                </div>  
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>User</mat-label>
                        <mat-select >
                            <mat-option *ngFor="let user of users" [value]="user?.id">
                              {{user?.name}}
                            </mat-option>
                          </mat-select>
                    </mat-form-field>
                </div> 
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Deadline Date</mat-label>
                        <input matInput [matDatepicker]="picker" >
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>  

                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Description</mat-label>
                        <textarea matInput  placeholder="task description ...."></textarea>
                    </mat-form-field>
                    
                </div>
        </div>
    </form>

    <footer class="tw-p-6">
        <div class="d-flex justify-content-center align-items-center">
            <button mat-flat-button class="btn btn-success py-1 px-5 mx-2"  >Create</button>
         
            <button mat-flat-button class="btn btn-danger py-1 px-5">Close</button>
          </div>
        
      </footer>
</div> -->